
table {
  margin: 10rem auto ;
  font-size: 1rem;
  width: 80%;
  border-collapse: collapse; /* VERY IMPORTANT */
}

/* Caption */
caption {
  font-size: 1.7rem;
  margin: 1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #316fa9;
  margin: 40px;
}

/* HEADER ROW = single bar */
thead tr {
  background-color: #4da3ff;
  height: 60px;

}

thead th {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Alternate rows ONLY for body */
tbody tr:nth-child(odd) {
  background-color: #1a1a1a;
  height: 35px;
}

tbody tr:nth-child(even) {
  background-color: #222222;
  height: 35px;
}

/* Text */
td {
  color: #ffffff;
  padding: 12px;
  text-align: center
}

/* Rounded row illusion */

tbody tr td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

tbody tr td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Rounded header corners  */
thead th:first-child {
  border-top-left-radius: 9px;
}

thead th:last-child {
  border-top-right-radius: 9px;
}

tbody tr {
  background:
    linear-gradient(
      135deg,
      rgba(106, 136, 68, 0.06) 0%,
      rgba(17, 17, 18, 0.684) 100%
    );
}

.city-temperatures {
  max-width: 900px;
  margin: 40px auto;
  line-height: 1.8;
}

.city-temperatures h2 {
  font-size: 2rem;
  color: var(--hero-color);
  margin-bottom: 20px;
  text-align: center;
}

.city-temperatures p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
