#weather-container {
  color: rgb(251, 247, 247);
  position: relative;
  height: 29rem;
  width: 65rem;
  margin: 7rem auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  z-index: 100;
  background-color: #111;
  border-radius: 2rem;
  padding: 10px 40px;
  box-sizing: border-box;
  user-select: none;
  box-shadow: 2px 4px 8px grey;
}

#weather-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--bg-img) center/cover no-repeat;
  border-radius: 2rem;
  opacity: 0.7;
  z-index: 0;
  /* filter: blur(2px); */
}

/* error container styling start */

#Error-container {
  position: relative;
  height: 25rem;
  width: 55rem;
  margin: 7rem auto;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3rem;
  z-index: 1;
  box-shadow: 2px 4px 8px grey;
  background: linear-gradient(120deg, black, gray);
}

.error-text {
  position: relative;
  z-index: 1;
}

/* Animated city icon */
.city-icon {
  width: 180px;
  height: 180px;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0.95;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.95;
  }
}

/* end  */

#weather-container > * {
  position: relative;
  z-index: 1;
}

.boy-img {
  grid-row: 3/3;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.boy-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.7;
}

#temp {
  font-size: 4rem;
}

.card {
  grid-column: 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  align-self: start;
  justify-items: center;
  padding: 0.3rem;
  gap: 25px;
  width: 300px;
  height: 170px;
  border-radius: 1rem;
  color: rgb(251, 247, 247);
  margin-left: 2.5rem;
  font-weight: 500;
  box-shadow: 2px 2px 3px rgb(191, 191, 191);
}

.vertical-line {
  height: 40px;
  display: block;
  width: 150px;
  height: 43px;
  border-right: 2px solid rgba(250, 248, 248, 0.536);
}

#g2r1 {
  grid-column: 1/3;
  font-size: 1.4rem;
  font-weight: 500;
}

#g2r2c1 {
  grid-column: 1;
  grid-row: 2;
}

#g2r2c2 {
  grid-column: 2;
  grid-row: 2;
}

#g2r3 {
  grid-column: 1 / 3;
  grid-row: 3;
}

.aqinumber {
  font-size: 2rem;
  text-align: center;
}

#aqitext {
  font-size: 0.8rem;
  font-weight: 400;
}

.weather-icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}

.weather-icon {
  animation: floatIcon 3s ease-in-out infinite;
}

@keyframes floatIcon {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.sub-info {
  display: block;
  text-align: center;
}

.temp-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 90px;
  margin-top: 3rem;
}

.temp-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-sub-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 0.3rem;
  height: 5rem;
  width: 11rem;
  white-space: nowrap;
}

.update-time {
  margin-top: 4rem;
}

/* about section  */

.about {
  max-width: 1000px;
  margin: 2rem auto;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.hero {
  color: var(--hero-color);
}
.about p {
  margin-bottom: 1rem;
}
